<body>
<div class="error-wall load-error">
  <div class="error-container">
    <div *ngIf="forbidden">
      <h1>Oh no...</h1>
      <h3>You do not have permission to view this page:(</h3>
      <h4>Error 403</h4>
    </div>
    <div *ngIf="notFound">
      <h1>Oh no...</h1>
      <h3>We don't have such a page:(</h3>
      <h4>Error 404</h4>
    </div>
    <div *ngIf="unauthorized">
      <h1>Oh no...</h1>
      <h3>You can not see this page without log in :(</h3>
      <h4>Error 401</h4>
    </div>
    <div class="button-bar">
      <a routerLink="/welcome"  class="button"  pRipple>Go to welcome page</a>
      <a routerLink="/login" class="button loginButton"  pRipple>Go to login page</a>
    </div>
  </div>
</div>
</body>
