<div class="login">
  <h1>Please, login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="input">

      <div class="blockinput">
        <input type="text" formControlName="userLogin" placeholder="Login" autocomplete="off" class="form-control"/>
        <div *ngIf="submitted && errorField.userLogin.errors">
          <div *ngIf="errorField.userLogin.errors.required" class="error">Login is required</div>
        </div>
      </div>
      <div class="blockinput">
        <input type="password" formControlName="password" placeholder="Password" class="form-control"/>
        <div *ngIf="submitted && errorField.password.errors">
          <div *ngIf="errorField.password.errors.required" class="error">Password is required</div>
        </div>
      </div>
    </div>
    <button type="submit" pRipple>
      Login
    </button>
    <div *ngIf="invalidData&& (!errorField.password.errors && !errorField.userLogin.errors)" class="error error-cred"> Bad
      credentials
    </div>
    <p class="regCase">
      Don’t have an account?
    </p>
    <a routerLink="/registration" class="regLink" pRipple>Sign up now</a>
  </form>
</div>

