<h1 class="logo">Register new account</h1>
<div class="form">
  <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()" id="contactform">


    <div class="contact"><label for="name">Name</label>
      <input type="text" formControlName="name" id="name" tabindex="1"
             [ngClass]="{ 'is-invalid': submitted && fval.name.errors }"
             placeholder="Enter your name here"/>
      <div *ngIf="submitted && fval.name.errors">
        <div *ngIf="fval.name.errors.required" class="error">Name is required</div>
        <div *ngIf="fval.name.errors.minlength" class="error">Name must be at least 6 characters</div>
      </div>
    </div>

    <div class="contact"><label for="surname">Surname</label>
      <input type="text" formControlName="name" id="surname"
             [ngClass]="{ 'is-invalid': submitted && fval.surname.errors }"
             placeholder="Enter surname here"/>
      <div *ngIf="submitted && fval.surname.errors">
        <div *ngIf="fval.surname.errors.required" class="error">Surname is required</div>
        <div *ngIf="fval.surname.errors.minlength" class="error">Surname must be at least 6 characters</div>
      </div>
    </div>

    <div class="contact"><label for="email">Email</label>
      <input type="text" formControlName="email" id="email" tabindex="2"
             [ngClass]="{ 'is-invalid': submitted && fval.email.errors }"
             placeholder="Enter email here"/>
      <div *ngIf="submitted && fval.email.errors">
        <div *ngIf="fval.email.errors.required" class="error">Email is required</div>
        <div *ngIf="fval.email.errors.email" class="error">Enter valid email address</div>
      </div>
    </div>
    <!--todo я пока закомментила(ту строку, что через 1), шоб не вылезало за пределы формы, что оно и делает-->
    <div class="contact"><label for="dateOfBirth">Date Of Birth</label>
      <!--      <p-calendar formControlName="dateOfBirth" styleClass="driverLicExpCal form-control" id="dateOfBirth" [inline]="true"></p-calendar>-->
    </div>
    <!--todo это как бы не всралось. просто я уже не уверена, что смогу использовать ебаный календарь, так что пусть будет поле по старинке-->

<!--          <input type="text" formControlName="dateOfBirth" tabindex="2"-->
    <!--             [ngClass]="{ 'is-invalid': submitted && fval.dateOfBirth.errors }"-->
    <!--             placeholder="Enter your date of birth"/>-->
    <!--      <div *ngIf="submitted && fval.dateOfBirth.errors">-->
    <!--        <div *ngIf="fval.dateOfBirth.errors.required" class="error">Date Of Birth is required</div>-->

    <!--      </div>-->


    <fieldset>
      <legend>
        Login data:
      </legend>
      <div class="contact"><label for="login">Login</label>

        <input type="text" formControlName="login" id="login" tabindex="2"
               [ngClass]="{ 'is-invalid': submitted && fval.login.errors }"
               placeholder="Enter login here"/>
        <div *ngIf="submitted && fval.login.errors">
          <div *ngIf="fval.login.errors.required" class="error">Login is required</div>
          <div *ngIf="fval.login.errors.minlength" class="error">Login must be at least 6 characters</div>
        </div>
      </div>

      <div class="contact"><label for="password">Password</label>
        <input type="password" id="password" formControlName="password" tabindex="2"
               [ngClass]="{ 'is-invalid': submitted && fval.password.errors }"
               placeholder="Enter login here"/>
        <div *ngIf="submitted && fval.password.errors">
          <div *ngIf="fval.password.errors.required" class="error">Password is required</div>
          <div *ngIf="fval.password.errors.minlength" class="error">Password must be at least 6 characters</div>
        </div>
      </div>

    </fieldset>
    <button type="submit" class="p-button-raised p-button-rounded buttons">Register now</button>
    <a routerLink="/login" class="link-button buttons">Back to login</a>

    <input type="hidden" formControlName="salary" value="100"/>
    <input type="hidden" formControlName="id" value="{{ generateId() }}"/>
  </form>
</div>




