h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: "BERNIER Regular", serif;
  margin-top: 5%;
}

.form {
  width: 50%;
  height: 65%;
  margin: 30px auto;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  color: #555;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(114, 212, 202, 0.1);
  cursor: pointer;
  border: 1px solid #B2ECE6;
  box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
}

.form .contact {
  font-size: 20px;
  margin: 15px 15px 30px 15px;
  font-family: Arial, Helvetica, serif;
}

.form input {
  width: 80%;
  height: 35px;
}

.form label {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  font-family: "Segoe Print", serif;
  margin-right: 10px;
}


.form input:hover {
  border: 1px solid #4b8df9;
  background-color: rgba(255, 255, 255, 1);
}


.buttons {
  margin-top: 7%;
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  line-height: 1.5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  top: 60%;
  border: 1px solid;
  font-family: Verdana, Geneva, sans-serif;
}

button {
  background: #4b8df9;
  color: #fbf7f7;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  left: 35%;
  outline: none;
}

button:hover {
  background-color: #2a78f6;
}

.link-button {
  left: 55%;
  vertical-align: top;
  color: #bbb;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  background-color: #303030;
  background-clip: padding-box;
}

.link-button:hover {
  background-color: #363636;
}

legend {
  position: relative;
  bottom: 30%;
  font-family: "Segoe Print", serif;
}

.error {
  color: rgba(255, 0, 0, 0.7);
  font-family: "Segoe Print", serif;
  position: absolute;
}


::ng-deep .ui-timepicker .ui-widget-header {
  width: 50px;
  height: 70px;
}


.p-calendar {
  width: 60px;
  height: 70px;
}

fieldset {
  margin-top: 6%;
}

input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
  }
}

.success-templateBody div {
  text-align: center;
  background: #EBF0F5;
margin-right: 50%;
}

.success-templateH h1 {
  color: #88B04B;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}

.success-templateP p {
  color: #404F5E;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 0;
}

i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}

.card {
  background:  cadetblue;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #C8D0D8;
  display: inline-block;
  margin: 10% 40%;
  text-align: center;
}

.success-template {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #F8FAF5;
  margin: 0 auto;
  text-align: center;
}
