<body *ngIf="!registered; else userRegistered">
<h1 class="logo">Register new account</h1>
<div class="form">
  <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()" >

    <div class="contact"><label for="name">Name</label>
      <input type="text" formControlName="name" id="name" tabindex="1"
             [ngClass]="{ 'is-invalid': submitted && errorFiled.name.errors }"
             placeholder="Enter your name here"/>
      <div *ngIf="submitted && errorFiled.name.errors">
        <small *ngIf="errorFiled.name.errors.required" class="error">Name is required</small>
        <small *ngIf="errorFiled.name.errors.minlength" class="error">Name must be at least 6 characters</small>
      </div>
    </div>

    <div class="contact"><label for="surname">Surname</label>
      <input type="text" formControlName="surname" id="surname"
             [ngClass]="{ 'is-invalid': submitted && errorFiled.surname.errors }"
             placeholder="Enter surname here"/>
      <div *ngIf="submitted && errorFiled.surname.errors">
        <small *ngIf="errorFiled.surname.errors.required" class="error">Surname is required</small>
        <small *ngIf="errorFiled.surname.errors.minlength" class="error">Surname must be at least 6 characters</small>
      </div>
    </div>

    <div class="contact"><label for="email">Email</label>
      <input type="text" formControlName="email" id="email" tabindex="2"
             [ngClass]="{ 'is-invalid': submitted && errorFiled.email.errors }"
             placeholder="Enter email here"/>
      <div *ngIf="submitted && errorFiled.email.errors">
        <small *ngIf="errorFiled.email.errors.required" class="error">Email is required</small>
        <small *ngIf="errorFiled.email.errors.email" class="error">Enter valid email address</small>
      </div>
    </div>

    <div class="contact"><label for="dateOfBirth">Date Of Birth</label>
      <p-calendar formControlName="dateOfBirth" dateFormat="dd.mm.yy" dataType="string" [inline]="false" [showIcon]="true" id="dateOfBirth"></p-calendar>
      <div *ngIf="submitted && errorFiled.dateOfBirth.errors">
        <small *ngIf="errorFiled.dateOfBirth.errors.required" class="error">Date of birth is required</small>
      </div>
    </div>

    <fieldset>
      <legend>
        Login data:
      </legend>
      <div class="contact"><label for="login">Login</label>

        <input type="text" formControlName="login" id="login" tabindex="2"
               [ngClass]="{ 'is-invalid': submitted && errorFiled.login.errors }"
               placeholder="Enter login here"/>
        <div *ngIf="submitted && errorFiled.login.errors">
          <small *ngIf="errorFiled.login.errors.required" class="error">Login is required</small>
          <small *ngIf="errorFiled.login.errors.minlength" class="error">Login must be at least 6 characters</small>
        </div>
      </div>

      <div class="contact"><label for="password">Password</label>
        <input type="password" id="password" formControlName="password" tabindex="2"
               [ngClass]="{ 'is-invalid': submitted && errorFiled.password.errors }"
               placeholder="Enter login here"/>
        <div *ngIf="submitted && errorFiled.password.errors">
          <small *ngIf="errorFiled.password.errors.required" class="error">Password is required</small>
          <small *ngIf="errorFiled.password.errors.minlength" class="error">Password must be at least 6
            characters</small>
        </div>
      </div>

    </fieldset>
    <button type="submit" class="p-button-raised p-button-rounded buttons"  pRipple>Register now</button>
    <a routerLink="/login" class="link-button buttons"  pRipple>Back to login</a>

  </form>
</div>
</body>

<ng-template #userRegistered>
  <div class="card">
    <div class="success-template">
      <i class="checkmark">✓</i>
    </div>
    <h1 class="success-templateH">Success</h1>
    <p class="success-templateP">You were successfully registered!</p>
  </div>
</ng-template>



