h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: "BERNIER Regular", serif;
  margin-top: 5%;
}

.form {
  width: 50%;
  height: 55%;
  margin: 30px auto;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  color: #555;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(114, 212, 202, 0.1);
  cursor: pointer;
  border: 1px solid #B2ECE6;
  box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
}

.form .contact {
  font-size: 20px;
  margin: 10px;
  font-family: Arial, Helvetica;
}

.form input {
  width: 80%;
  height: 30px;
  margin: 10px;
}

.form label {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  font-family: "Segoe Print", serif;
}


.form input:hover {
  border: 1px solid #4b8df9;
  background-color: rgba(255, 255, 255, 1);
}

.form .select-style {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background: rgba(0, 0, 0, 0) url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-16.png") no-repeat scroll center right;
  border: 0px solid #FFF;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttons {
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  top: 20%;
  border: 1px solid;
  font-family: Verdana, Geneva, sans-serif;
}

button {
  background: #4b8df9;
  color: #fbf7f7;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  left: 25%;

}

button:hover {
  background-color: #2a78f6;
}

.link-button {
  left: 45%;
  vertical-align: top;
  color: #bbb;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  background-color: #303030;
  background-clip: padding-box;
}

.link-button:hover {
  background-color: #363636;
}

legend {
  font-family: "Segoe Print", serif;
}

.error {
  color: rgba(255, 0, 0, 0.7);
  font-family: "Segoe Print";
  display: inline-block;
}

